[2021-01-11 16:27] maximecb opened #17 "Implement --ujit-call-threshold"
There is currently a definition in `ujit.h`

[code]

We should make this a command-line argument. That will enable us to set the threshold to 1 when running `make check` or `make btest`, so that we can catch as many bugs as possible, but it will also eventually enable us to tune the threshold to maximize performance.

Note: the command line argument parsing code should check that the minimum value

[2021-01-11 16:39] maximecb opened #18 "Disassembly strings"
For the MicroJIT prototype, not being able to see the generated code was OK, but as we migrate to a more sophisticated JIT with control flow and various optimizations, it will become increasingly important to be able to look at the machine code we produce.

The simplest strategy is not to implement a disassembler, but just to just store stings associated with machine code addresses in a [code bloc

[2021-01-11 16:46] maximecb opened #19 "Dynamic instruction coverage stats (--ujit-stats)"
We have to increase the proportion of instruction that gets executed in the JIT as opposed to the interpreter, to increase our "JIT coverage", so to speak. In order to do that, it would be really useful to have statistics such as the percentage of instructions executed by JIT over the total number of bytecode instructions executed.

I think it would also be very helpful to know  which instructions

[2021-01-11 17:42] maximecb opened #20 "Look at mapping the interpreter's code in huge pages"
It looks as though the CPU has two pieces of iTLB hardware. One for huge pages and one for small pages. If that's true, we could benefit from having the interpreter use the huge pages, and the JIT use the small pages all for itself. This is a patch that we could also potentially upstream. It could benefit CRuby and MJIT as well.

See [Intel doc](https://software.intel.com/content/dam/develop/exter

[2021-01-11 21:44] maximecb opened #21 "Basic block invalidation mechanism"
There are a few situations in which it might be useful to invalidate basic block versions:
- Primitive op (eg: plus/minus) redefined
- Method redefined on class, throw away code calling that method
- A method uses binding to modify local types in a caller

In the case of primitive op redefinitions, we might be better off throwing away all the compiled code, but class method redefinitions might hap

[2021-01-13 20:58] maximecb commented on #18
The easiest way to get the code blocks generated for a given function should be to iterate through this `st_table`:
https://github.com/Shopify/ruby/blob/microjit/ujit_core.c#L16

It's indexed by `blockid_t` objects. So for a given function, you can iterate over every index in its `iseq`, and get the `version_t` object at that index (if any). Each `version_t` object has a `start_pos` and `end_pos`

[2021-01-13 21:33] maximecb opened #22 "Prototype type-specialization with temps and integer types"
The simplest thing to do, to start playing with type-specialization, would be to propagate types within blocks, but stop at branch instructions.

This will require modifying the context struct `ctx_t` to have somewhere to store local variable types.

We can start by propagating integer types and constants between instructions like `putobject_INT2FIX_1_`, `opt_plus`, `opt_minus`, etc. A good candid

[2021-01-15 22:13] maximecb commented on #21
I've sketched the code for this, but we are currently failing the method invalidation test Alan wrote:

`make test-all TESTS=test/ruby/test_microjit.rb`

I'll keep investigating.

[2021-01-18 15:33] maximecb opened #23 "Report inline and outlined generated code size, num functions compiled in `--ujit-stats`"
This is information that would be very useful to have in the stats that we dump with the `--ujit-stats` command-line argument.

The generated code size is just the current write position in the code block objects, `cb->write_pos` and `ocb->write_pos`. We should probably report a value in kilobytes for readability.

The number of functions compiled would be how many functions hit the threshold and

[2021-01-18 18:24] maximecb commented on #20
@XrXr Since remapping the text segment is complicated. I think it make sense to focus on maybe just trying to mmap the microjit code into huge pages and test the performance for now.

We could leave text in normal pages, and have the JIT code in the huge pages, ideally allowing us to use both TLBs at once, an avoiding a complex, less portable solution.

If you try this, I would suggest using the c

[2021-01-19 20:20] maximecb commented on #22
We can use the [`ruby_value_type`](https://github.com/ruby/ruby/blob/9195310168fa43186b1918fb0432a54b000fcbba/include/ruby/internal/value_type.h#L110) enum from `ruby/value_type.h`. It even contains a `T_NONE` definition which we can use to keep track of when we don't know the type of something.

With regard to temporaries, it would make sense to map an array of types from the base of the stack, t

[2021-01-20 17:33] maximecb commented on #21
The test is working :)

[2021-01-20 17:33] #21 closed, assigned to maximecb

[2021-01-20 22:00] maximecb commented on #22
I got the small prototype working :)

https://github.com/Shopify/ruby/commit/283bd8a33c6de1f2f094a1b1939032be1c103ce1

[2021-01-20 22:00] #22 closed, assigned to nobody

[2021-01-21 17:09] maximecb commented on #20
Closing this for now since it doesn't look like mapping the text segment in huge pages is worth the added complexity.

Might be worth revisiting mapping the JITted code in huge pages (simpler) once MicroJIT V2 is further along.

[2021-01-21 17:09] #20 closed, assigned to XrXr

[2021-01-21 19:29] maximecb opened #25 "Implement `opt_getinlinecache` (most common missing instruction)"
This is currently the most common missing instruction for `railsbench` and `RDoc`.

The first thing I'd like to ask is: can somebody explain precisely what it is that  `opt_getinlinecache` does? What is the key used to look things up in the IC?

[2021-01-21 21:37] maximecb opened #26 "Propagate type information (context) across basic blocks"
The first step will be to do a refactoring to allow us to have a list of multiple block versions per basic block. I think that I will use a linked list because it's a good fit here, since each `block_t` object is already heap allocated.

The second step will be to implement a matching function to look for compatible block versions.

[2021-01-21 22:45] maximecb commented on #18
PR #24 implements this feature.

[2021-01-25 17:28] #26 closed, assigned to nobody

[2021-01-25 17:29] #18 closed, assigned to tenderlove

[2021-01-26 20:26] XrXr commented on #19
59018fb1131a384d6d05b0b4f8bcc72292d7c02c gives a ratio of instructions that are ran in uJIT. We will make separate tickets for other statistics.

[2021-01-26 20:26] #19 closed, assigned to XrXr

[2021-01-26 20:52] maximecb opened #29 "Report instructions causing side-exits in `--ujit-stats`"
It would be very useful to know which instructions trigger exits to the interpreter and how often, and display a list sorted by decreasing frequency. That will help us target our efforts to increase coverage.

The simplest way to implement this would be to call a method which takes note of which opcode is at the `exit_pc` in `ujit_gen_exit()`. Maybe we can generate a call to a function that takes

[2021-01-26 21:53] maximecb opened #30 "Implement ruby-to-ruby calls in `opt_send_without_block`"
If we know the identity of a callee, it should be possible to directly jump to its entry block, and eventually to pass along type information to the callee. The first step is to implement basic Ruby-to-Ruby calls that can jump to the entry block when the callee is known and there is no vararg, etc.

[2021-01-27 21:22] #29 closed, assigned to XrXr

[2021-02-01 17:23] maximecb opened #31 "Implement `opt_aref` (as function call for now)."
This is one of the most common bytecodes. If we can implement it as a function call, we can avoid exiting to the interpreter when it occurs.

[2021-02-01 17:24] maximecb opened #32 "Add callback for global constant redefined in ujit_iface.c"
Callback function should provide info about the constant so that we can deoptimize blocks that rely on the constant.

[2021-02-01 22:23] #23 closed, assigned to XrXr

[2021-02-02 18:31] #30 closed, assigned to maximecb

[2021-02-04 18:08] tenderlove commented on #32
This is done in 9a41ea2cbd5cceb39bab6408321c373a717e4772.  We should probably make it more sophisticated in the future, but I'm going to close this as done for now.

[2021-02-04 18:08] #32 closed, assigned to tenderlove

[2021-02-04 19:23] maximecb opened #33 "Type capture mechanism"
It would be nice to have a type capture mechanism so that we can specialized based on potentially unknown types while generating code. This could be used to request the type of the Nth operand on the stack, with 0 being the topmost.

[code]

If the type is unknown, a branch and code patching will be used to extract the type. Compilation can then be halted based on a special return value.

The mech

[2021-02-04 21:40] tenderlove commented on #31
Implemented in #34

[2021-02-04 21:40] #31 closed, assigned to tenderlove

[2021-02-08 21:09] maximecb opened #36 "Fix issues preventing railsbench from running."
There's a segfault in bundler preventing the required gems from installing.

[code]

https://github.com/Shopify/microjit-bench

[2021-02-08 22:09] flavorjones commented on #36
OK, I've reproduced this error:

[code]

running:
- `ruby 3.1.0dev (2021-02-08T20:40:36Z microjit 54c9cb051e) [x86_64-linux]`
- `Bundler version 2.3.0.dev (2021-02-08 commit unknown)`

[2021-02-08 22:09] flavorjones commented on #36
@maximecb Is this the error you were seeing? It's not a segfault. If not, can you help me reproduce?

[2021-02-08 22:12] flavorjones commented on #36
Ah - I see that this _sometimes_ segfaults. Will keep going.

[2021-02-08 22:35] flavorjones commented on #36
This error/segfault does not happen if I comment-out any **one** of the following lines from `ujit_init_codegen`:

- `ujit_reg_op(BIN(nop), gen_nop, false);`
- `ujit_reg_op(BIN(getlocal_WC_0), gen_getlocal_wc0, false);`
- `ujit_reg_op(BIN(getinstancevariable), gen_getinstancevariable, false);`
- `ujit_reg_op(BIN(opt_send_without_block), gen_opt_send_without_block, true);`

Conversely, the bug occu

[2021-02-08 23:15] maximecb commented on #36
I was trying to update bundler to fix the gsub error, and that's when I encountered the segfault (in the bundler update process).

Good idea to comment out opcodes. It's probably not an interaction per-se. It's just that uJIT stops compiling iseqs when it finds opodes it doesn't know, so commenting out some opcodes might lead to other instructions not getting compiled.

It's most likely not `nop`

[2021-02-09 13:52] flavorjones commented on #36
When I uncomment those lines, here's the output from a run that ended with the exception:

[code]

and here's one that ends with a segfault:

[code]

[2021-02-09 15:38] maximecb commented on #36
I'm guessing the exception is because bundler is expecting some method that's been deprecated in the bleeding edge Ruby. There's probably nothing we can do about that (except maybe update bundler or manually modify its code). We could try asking around if other people are having that problem.

Segfault in leave is a little strange :O

We have two codegen functions that might help, you can place so

[2021-02-09 15:56] flavorjones commented on #36
I don't think this is a Ruby deprecation, because it runs fine with `--disable-ujit` set.

I'm pattern matching based on my past experience, but this looks like it may be an object being freed, and then the slot getting re-used sometimes. So on occasion an unexpected object gets `gsub` called on it; other times it's a use-after-free segfault. I'd like to confirm this by running valgrind, but I'm a

[2021-02-09 16:52] maximecb commented on #36
I'm guessing valgrind doesn't like our executable memory allocation.

This is the code that allocates executable memory: https://github.com/Shopify/ruby/blob/microjit/ujit_asm.c#L127

You could try either removing the position hint (make first argument NULL), or changing some of the flags?

[2021-02-09 17:11] flavorjones commented on #36
Passing NULL as the address does allow this to run a bit further under valgrind, but it then fails in a new way that I don't know how to fix:

[code]

[2021-02-09 18:07] maximecb commented on #36
Not sure what to do about this. Maybe `valgrind` can't cope with the generated code.

Maybe we should wait until Alan merges his GC PR. If we're lucky it might fix this issue. If not, we should probably look for a simpler failing test.

[2021-02-11 14:17] flavorjones commented on #36
So this appears to be a valgrind bug:

[code]

where the size is 8 if there is a REX.W prefix before POPF ... but this method asserts that it's either 2 or 4. I'm building valgrind now so that it accepts 8 and we'll see what happens.

[2021-02-11 14:27] flavorjones commented on #36
OK, having patched valgrind locally, this is now what I see when debugging the original problem:

[code]

[2021-02-11 15:18] maximecb commented on #36
We did fix some bugs yesterday. Can you pull the latest changes to see if that fixes it?

[2021-02-11 17:08] flavorjones commented on #36
I'm going to close this, because I think the issues here are related to the broader GC challenges we're looking into.

[2021-02-11 17:08] #36 closed, assigned to flavorjones

[2021-02-18 18:37] maximecb opened #45 "Investigate heisenbug in `test_gc_compact.rb`"
There is a heisenbug that occurs while running `make test-all`:

[code]

[2021-02-22 17:43] maximecb opened #49 "Implement `opt_nil_p` in YJIT"
Can create a fast path with BOP redefined, slow path with side-exit.

[2021-02-22 17:44] maximecb opened #50 "Investigate how `defined` is used in railsbench"
Should collect percentages for how `defined` is used in railsbench (from microjit-bench). Makes up ~5% of exits to the interpreter.

Is it mostly used for constants, for instance variables, or something else?

[2021-02-23 20:25] #45 closed, assigned to nobody

[2021-02-24 18:36] #17 closed, assigned to nobody

[2021-03-01 03:46] #25 closed, assigned to nobody

[2021-03-03 22:20] XrXr opened #63 "`leave` makes up 4.1% of exits on `railsbench` because of FINISH frames."

[2021-03-03 22:40] XrXr commented on #63
https://github.com/Shopify/ruby/pull/64#issuecomment-790123647

[2021-03-04 01:32] maximecb commented on #63
Nice work with the counters. They are proving useful.

OTOH maybe it's ok to exit to the interpreter for this? Hmmm.

Or how about this: we could create a new instruction that's just a `finish_frame` or `vm_exec_exit`, doesn't jump to anything else. Then we can directly jump to the handler for that when we want to exit and we know it's only going to do a return from `vm_exec_core` without any extr

[2021-03-04 03:07] maximecb commented on #63
We should create a jump equivalent to `call_ptr`, with a scratch register so that we can do a relative 32-bit jump when possible, and then we can likely do a nice predictable direct jump to the new exit instruction handler.

https://github.com/Shopify/ruby/blob/microjit/ujit_asm.c#L888

[2021-03-06 06:10] maximecb opened #70 "Counter printing bug with --ujit-stats"
I'm getting an error when trying to print the stat counters on the `yjit` branch:

[code]

[2021-03-06 16:13] #70 closed, assigned to XrXr

[2021-03-09 19:02] #33 closed, assigned to maximecb

[2021-03-10 00:27] tenderlove commented on #50
Finally got some stats for this, here is the table:

[code]

`DEFINED_IVAR` is the most popular, which I think is from memoization like `return @foo if defined?(@foo)`.

`DEFINED_CVAR` is pretty popular too, but what's interesting about this one is that I think nobody is actually writing `defined?(@@foo)`.  Using `||=` on a cvar will actually emit a defined instruction:

[code]

[2021-03-10 00:30] tenderlove commented on #50
I forgot to mention, I was testing against RailsBench.  Looks like optcarrot doesn't use `defined` at all.

[2021-03-10 02:26] maximecb commented on #50
In terms of how difficult it would be to implement, DEFINED_IVAR and DEFINED_FUNC are pretty similar? Would knowing the class of an object be enough, or would we actually have to read the ivar on the object?

[2021-03-10 16:08] tenderlove commented on #50
I haven't checked the implementation of `DEFINED_FUNC` yet, but I will.  `DEFINED_IVAR` is almost exactly the same as reading an ivar though.  I suspect `DEFINED_FUNC` is similar to `opt_send_without_block`, we just don't call the method. I'll investigate and update here with more details.

[2021-03-10 16:14] maximecb commented on #50
But can we just check that the ivar is defined on the class, or do we actually have to read the object and make sure it's not Qundef/Qnil?

[2021-03-10 16:22] tenderlove commented on #50
AFAICT, we actually have to read the object and check for Qundef (or non-existence of an extended table). Just because there's an entry in the index table on the class doesn't mean the ivar is "defined" on the particular object. 😩

[code]

[2021-03-10 20:43] maximecb commented on #50
Ok cool. We're just going to have to factor out our implementation of getivar so that we can reuse it for this and for attr_reader.

[2021-03-10 20:44] maximecb commented on #50
PS: yet another thing that Shapes will fix ;)

[2021-03-22 18:55] maximecb opened #81 "Investigate slow language shootout benchmarks"
Last week I added two of the classic computer language shootout benchmarks to our suite. To my surprise, even though we do pretty well on some larger benchmarks, we do poorly on these two benchmarks. These two are `nbody` and `binary-trees`. The performance is about the same as in the interpreter, which is a bit puzzling. One of the first steps might be to run with `--yjit-stats` to see if our cov

[2021-03-22 18:55] maximecb opened #82 "New `--yjit-stats` entries for bindings usage"
It would be useful to collect stats relating to how `bindings` is used as part of `--yjit-stats`. That would enable us to easily check for this, and automate checks as well. The code for collecting stats is currently in `ujit_iface.c`.

Two stats we might want to collect are:
1. How many times is `bindings` used?
2. How many times is `bindings` used to write over the local variables in a caller (w

[2021-03-23 17:22] maximecb commented on #82
@tenderlove If you want to gather stats for a specific benchmark in `yjit-bench`, you can use the perf harness like this:

[code]

[2021-03-23 17:27] maximecb commented on #82
Also just added a new small benchmark, `fannkuchredux` :)

[2021-03-29 01:19] #49 closed, assigned to tenderlove

[2021-03-29 16:28] maximecb opened #86 "Look into ActiveRecord (micro)benchmark for yjit-bench"
Look into creating or borrowing a small to medium size benchmark for ActiveRecord, to be included in the `yjit-bench` repo. If borrowing an existing benchmark, make sure to include the `LICENSE` file into the benchmark's subdirectory.

[2021-03-29 20:04] #82 closed, assigned to tenderlove

[2021-03-29 20:23] maximecb commented on #81
@XrXr I took a detour and started looking into why some of the microbenchmarks are slow. This result on `fannkuchredux` seems very surprising to me:

[code]

I don't understand why `leave` is the most common exit reason in that microbenchmark, but maybe I'm too much of a Ruby noob to see it. I added a new leave exit reason (see open PR) to track interpreter returns, but that's not it either? Any i

[2021-04-20 15:45] maximecb commented on #86
Migrating to Shopify/yjit repo.

[2021-04-20 15:45] #86 closed, assigned to tenderlove

[2021-04-20 15:46] #81 closed, assigned to tenderlove

[2021-04-20 15:48] maximecb commented on #50
Migrating to Shopify/yjit repo: https://github.com/Shopify/yjit

[2021-04-20 15:48] #50 closed, assigned to tenderlove

[2021-04-20 15:49] maximecb commented on #63
Migrating to Shopify/yjit repo: https://github.com/Shopify/yjit

[2021-04-20 15:49] #63 closed, assigned to XrXr

[2021-08-11 23:29] jhawthorn opened #546 "Avoid moving REG_SP (make it a base pointer)"
This is an idea to improve how we handle stack addresses to make codegen simpler to write and possibly improve performance.

Currently, `REG_SP` always has the same value of `reg_cfp->sp`, but to avoid unnecessary register/memory reads/writes we store an `sp_offset` and build our memory operands (`ctx_sp_opnd`) using that offset. When we call into C code, call another method, or return to the inte

[2021-08-12 19:33] maximecb commented on #546
What you wrote makes sense. The main question I have is: can we count on the `__bp__` field in `rb_control_frame_struct` always being present? Does MJIT currently make use of this?

Another potential detail is: I remember Alan talking about using the call-threaded handlers so we can fall back to the interpreter for a single instruction, and in that case, we might end up in a situation where we don

[2021-08-12 20:27] XrXr commented on #546
Yeah I think this make sense. I feel confident relying on `__bp__` since the interpreter checks it in `leave`.
https://github.com/ruby/ruby/blob/5534698b84c1ef1567ebb1e2d79fbe1a2a573a77/insns.def#L902

We shouldn't need to change  `__bp__` cause it's supposed to stay constant for the frame. For one-shot fallback to the interpreter, I needed to know the SP delta for the right `sp_offset` anyways, s

[2021-08-12 20:29] jhawthorn commented on #546
Currently it's always present, but I don't think we should rely on it. https://github.com/Shopify/yjit/blob/main/vm_insnhelper.c#L2172-L2200 suggests it's likely to be removed, but I _believe_ we'll be able to calculate BP as `SP - stack_size`.

We'll always have to write cfp->sp on side exits (as we already do today). I don't think we'll have to update `__bp__` as it shouldn't move, but we may ne

[2021-08-12 20:42] maximecb commented on #546
So we'd keep `sp_offset`, compute the BP when entering JITted code, update the SP when leaving or doing a fallback, update BP on method calls.

I'm not sure what the impact on code size would be. I think it might remove some instructions in a few places, but also add a few more in other places since we'd be updating the SP still 🤔 May remove some data dependencies as you said.

[2021-08-12 21:02] XrXr commented on #546
`BP == SP` on entry to a frame, so no calculation needed there. The interpreter is checking that when leaving, SP is the same as it were on entry to the frame. But we do need to make calculations or load from `cfp` when we leave from output code to output code. Actually, I think this extra calculation/load is why we moved away from keeping the stack size to keeping an offset originally.

The depen

[2021-09-28 16:26] maximecb opened #448 "YJIT: optimize `Module#===`"
This is also used very often in SFR, because of `case...when` patterns. It seems to be used most often with arrays and hashes, so I'm wondering if we could peek at the input and just guard on T_HASH and T_ARRAY 🤔

This will need extensive tests for corner cases, etc.

[2021-09-28 17:27] jhawthorn commented on #448
I had a version of this in an old branch, but it definitely needs cleaning up (and I think the chaining behaviour probably isn't great when the argument is dynamic) https://github.com/jhawthorn/yjit/blob/e6d82f68a55f0c17dd79cb1009a5ad2cafaeaa5c/yjit_codegen.c#L2159-L2191

It would be really helpful if we had the ability to know when we had a constant value on the stack.

[2021-09-28 17:31] maximecb commented on #448
Do you mean constants like integers and true/false/nil or do you mean references to arrays and such?

[2021-09-28 17:38] jhawthorn commented on #448
I meant knowing that we're receiving `::Array`, ie. `rb_cArray`, but just now realized that at least for the `Module#===` case we probably can find this from our receiver class being `rb_cArray`'s singleton class.

If we want to implement the similar `is_a?` on the other hand we probably need to add an extra guard on the argument.

[2022-03-15 19:02] noahgibbs opened #233 "Rust-YJIT: Lee benchmark gets incorrect field access with --yjit"
If I run the lee benchmark with the current rust-yjit, it's getting "point.y" -- a Struct field access -- returning false instead of an appropriate integer.

[code]

It's not as simple as "create a struct of :x, :y, grab the second field from an instance with YJIT enabled, get false instead of the correct value. I tried that in a trivial test and it didn't do it. But it *does* seem to always die o

[2022-03-16 11:01] noahgibbs commented on #233
Interesting. Here's a very simple test program that triggers it:

[code]

The last three iters (after YJIT has compiled the method) will return false for the second field of the structure if you run it with "./miniruby --yjit test_struct.rb". But if you run it with "--yjit-call-threshold=1" instead, it does *not* show the bug. Only if YJIT runs for a few iters first before compiling it.

[2022-03-16 11:39] noahgibbs commented on #233
Head-of-main doesn't show the bug (makes sense.) Generated YARV bytecode is identical on head-of-main vs Rust-YJIT.

Adding a call to p.x and p.y before the loop doesn't add a new failing case to the loop, so the problem seems like it must be in main() rather than the generated Struct field accessors.

Machine code size is a bit higher on Rust-YJIT. Actual machine code has some fairly pronounced d

[2022-03-16 12:11] noahgibbs commented on #233
It looks like in gen_opt_getinlinecache, the CRuby side is seeing ice->ic_cref as NULL (short version of opt_getinlinecache with two MOVs) and the Rust side is seeing (*ice).ic_cref as non-NULL (long version, lots more instructions, presumably incorrect in this case.) The check is being done at compile time, not in the generated machine code.

I don't see any change in logic between the as-ported

[2022-03-16 14:29] noahgibbs commented on #233
Okay, think I found it. In block 12 (opt_send_without_block) there's a "mov rax, qword ptr [rax + 0x20]" in one and the 0x20 is an 0x18 in the other. So: bad offset.

[2022-03-21 13:50] noahgibbs commented on #233
Fixed

[2022-03-21 13:50] #233 closed, assigned to noahgibbs

[2022-04-27 13:25] noahgibbs opened #283 "Optimise shovel operator (<<) for string concatenation"
Based on our analysis of Liquid, we suspect that optimising the string concatenation operator can give us some good gains in performance. We'd also like a yjit-bench microbenchmark for string concatenation (done) to check our work.

I've been reading through the CRuby source for << (a.k.a. rb_str_concat in CRuby's string.c) and I see three interesting levels of optimisation.

Hypothesis 1: If the

[2022-04-28 15:57] noahgibbs commented on #283
Hypothesis 1 (call rb_str_concat after guarding on rb_cString arg type) doesn't provide any significant speedup, at least for a dev build of YJIT. It's not slower, but it's not detectably faster.

[2022-04-28 16:16] noahgibbs commented on #283
I'm not 100% convinced that hypothesis 2 is safe in every case. But it appears not to provide a significant speedup, so it's kind of academic so far. I'll try for hypothesis 3 and see how much speedup it gives.

Note that I *do* see changes in the disassembly, so I'm pretty sure my changes are taking effect. They're just not much faster.

[2022-04-28 16:38] noahgibbs commented on #283
I haven't fully explored hypothesis 3 yet. But doing a quick (not fully correct) trial shows that in a debug build, it'll cut the benchmark time down from around 250 to 240 milliseconds. So: if I add a guard statement for encodings, that's around the maximum available speedup this change will make, using my methods above. I suspect this isn't the only operation that would benefit from making assum

[2022-04-29 11:27] noahgibbs commented on #283
Hm. So, my initial speed calculations for string concat (https://github.com/Shopify/yjit-bench/pull/88) were taken with non-Rust YJIT, before the PR that merged it to latest CRuby.

It looks like for latest prod Rust-YJIT, I'm seeing *no* speedup or slowdown for the str_concat benchmark. I mean *without* any of the changes in this PR. That seems odd -- I was seeing around 10% speedup with pre-Rust

[2022-04-29 15:09] noahgibbs opened #284 "Slowdown in some benchmarks after Rust port of YJIT"
Looks like some of our benchmarks have slowed down a bit after the YJIT port, and others are noisy enough it's hard to tell. Worth exploring the definitely-slower ones to figure out what changed, and generally make sure code quality is where we want it.

This isn't shocking - we found a few subtle slowdowns during porting, makes sense there would be more left.

Looking at the speed-over-time deep

[2022-04-29 15:46] maximecb commented on #284
160% on getivar seems like a lot. Seems like it might make sense to start by trying to replicate that locally.

If the result can be reliably replicated locally, then there should be some obvious difference in the stats and the machine code. Should be relatively easy to trace since its a microbenchmark, and we could start from there 🤔

[2022-05-02 13:57] noahgibbs commented on #284
Fair enough. Trying getivar first. Using the AWS instance, a pre-Rust build (v3_1_1) is getting 42ms on getivar, while head-of-master (63932ec33e720, 2nd May) is getting 109ms. So: very similar to the two builds checked above.

The disassembly of TheClass#get_value_loop in benchmarks/getivar.rb is massively different. It looks like the upshot is that pre-Rust it's 100% in YJIT, and post-Rust it's

[2022-05-02 14:13] maximecb commented on #284
We must have broken something during the Rust port. Good thing you're looking at this because it could have gone unnoticed.

I think getivar is a good place to focus because it's relatively small. You could try simplifying the benchmark to try and find the simplest possible repro that shows a difference. Or you could try to determine which exit counter went up after the Rust port as that might giv

[2022-05-02 14:34] noahgibbs commented on #284
At the moment I'm just looking through the assembly. That's a bit much in many cases. But if we know we have a problem, it's probably good to check -- at least for the first 7 blocks, which they seem to basically have in common.

I'm having trouble interpreting the stats. Mostly they're fairly similar for both.

[2022-05-02 15:13] noahgibbs commented on #284
This looks like it may be related to the changes in unknown types that we did for Rust YJIT.

Specifically, it looks like guard_two_fixnums is being called here. In pre-Rust YJIT, we'd see a "guard arg1 fixnum" comment with a test and jz/je instruction for the side exit (which isn't hit, and it all goes great.) In Rust YJIT, it looks like guard_two_fixnums is emitting an unconditional jump to the

[2022-05-02 15:27] maximecb commented on #284
Good work tracking this down. Can you come up with a small repro?

Once we have a fix, maybe we can use John's testing framework to ensure that this doesn't exit.

[2022-05-02 15:37] noahgibbs commented on #284
Sure. Here's a simplification of the code, with a printed disasm:

[code]

Run the code with a dev YJIT build ("--enable-yjit=dev"). In the disassembly, look at the start of the final block (block 4), in the #opt_plus section - it starts with an unconditional jump to a side exit, when it should instead start with a test and je (conditional side exit.)

This is a simple enough repro that it may be

[2022-05-02 15:52] noahgibbs commented on #284
Based on local debugging, looks like it thinks arg1 (in this case the instance variable) isn't a fixnum.

[2022-05-02 19:23] maximecb commented on #284
Opened a PR for a fix here: https://github.com/ruby/ruby/pull/5876

[2022-05-03 09:04] noahgibbs commented on #284
Ah, wait, definitely shouldn't close this yet - this was for all the benchmarks. I'll check the speed with this fix in place and see how the speed currently compares.

[2022-05-03 11:41] noahgibbs commented on #284
After the most recent run (3rd May 7am) it looks like everything is back where it should be, perf-wise.

[2022-05-03 11:41] #284 closed, assigned to noahgibbs

[2022-05-03 14:40] maximecb commented on #284
Oh yeah! :)

[2022-05-03 15:43] noahgibbs commented on #283
Okay. With the latest fix to Rust-YJIT I'm seeing a small speedup on the str_concat benchmark again.

And now my draft changes are slowing it down to non-YJIT speed, so I need to figure out what's up with that :-) I suspect I'm causing it to side-exit somehow, which I couldn't see when it was side-exiting every time no matter what.

But that means my earlier timing attempts at hypothesis 1-3 were

[2022-05-04 11:36] noahgibbs commented on #283
Now that I can check better, it looks like hypothesis 1 is slightly faster, around 0.974 milliseconds to do 10240 string concats rather than about 1.15 to 1.18 milliseconds. And in fact "hypothesis 0" -- just call str_concat directly with a hardcoded call -- is already just barely faster than using the general call codegen, at around 1.11 milliseconds or so.

This is comparing YJIT-with-optimised-

[2022-05-04 11:40] noahgibbs commented on #283
Hypothesis 2 shaves off perhaps 0.01 milliseconds/iter? I'd need to run a lot more iterations to be sure. But hypothesis 2 isn't significantly faster than hypothesis 1, and adds a condition I'm less comfortable with. So: hypothesis 2 doesn't look like a great idea by itself.

[2022-05-04 12:08] noahgibbs commented on #283
Hypothesis 3 in incorrect form (no guard for the encoding) cuts the time down to more like 640ms. So with the guard, presumably it would be more like 650-700 milliseconds. So: much faster than hypothesis 1 and 2. But a simple guard would do a side exit *every time* we concatenated two strings with different encodings. That seems bad.

Instead, I'll check at JIT time if the encodings match. If so,

[2022-05-04 13:40] noahgibbs commented on #283
Hypothesis 1 branch: https://github.com/Shopify/ruby/tree/noah_optimise_shovel

[2022-05-06 11:20] noahgibbs commented on #283
Final hypothesis 1 numbers: around 950 milliseconds/iter, for a savings of about 17% over current YJIT or 33% over non-YJIT.

Edit to add: that was with a different benchmark. Currently the str_concat benchmark does *not* reflect the same, because passing the argument as a command-line parameter prevents YJIT correctly remembering the string's type. Changing that to hardcode the string param in th

[2022-05-11 12:38] noahgibbs commented on #283
Replaced by: https://github.com/ruby/ruby/pull/5896

[2022-05-11 12:38] #283 closed, assigned to noahgibbs

[2022-06-13 15:49] noahgibbs opened #298 "Intermittent Ractor bug found with YJIT debug builds"
Looks like occasionally, rarely, we hit an error in CI on Ractor bootstrap tests.

Example: https://github.com/ruby/ruby/runs/6863158408?check_suite_focus=true

Looks like it's happening on a YJIT-debug build (--yjit-enable=dev) but without YJIT actually enabled at runtime (no RUN_OPTS). The assertion that's failing doesn't look like one of ours either -- it's in vm_method.c line 1354 in callable_

[2022-06-13 16:27] noahgibbs commented on #298
Alan suggests this is a known problem in CRuby master. That would make sense. So: sounds like I can stop trying to reproduce this as a YJIT error.

[2022-06-15 10:33] #298 closed, assigned to noahgibbs

[2022-07-07 10:43] noahgibbs opened #305 "YJIT: implement send (optimized calls)"
I've been working on this for a few workdays now. A tracking issue seems appropriate.

Send is implemented by CRuby as a special optimised function call type. As such, it doesn't push an extra stack frame. Given how much extra code a CRuby call-with-stack-frame generates, that's probably a significant optimisation.

The special-case call code for send in CRuby lives in vm_eval.c, mostly.

I have a

[2022-07-07 10:43] noahgibbs commented on #305
Work notes on when CRuby does or does not push a frame for a method call:

I’m looking through CRuby’s vm_eval.c primarily.

The function vm_call0_body is the closest to our gen_send_general in most ways. It runs through the various types of method (ISEQ, cfunc, alias, etc.) and dispatches them appropriately.

It called send_internal, which actually makes the send happen - looks up the method from

[2022-07-07 10:45] noahgibbs commented on #305
I have an in-progress branch with the current commits (somewhat messy): https://github.com/Shopify/ruby/tree/noah_yjit_send

[2022-07-07 10:49] noahgibbs commented on #305
Code that demonstrates problems:

[code]

Specifically: in the last line we're seeing "a:main" instead of "a:arg", which almost certainly is a stack-frame bug. The main object is being found rather than "arg", suggesting that we're not getting a stack-frame push we should that would let us see the argument. Or maybe the wrong thing is being pushed as an arg? Also possible.

We're also not seeing a

[2022-07-07 10:51] noahgibbs commented on #305
If we modified the code for gen_send_cfunc to call rb_f_send, that would push an extra stack frame. That's usually not a problem (as public_send being different demonstrates), but it's good to avoid *any* visible differences from CRuby where we can. I assume that pushing an extra stack frame, in addition to being slower, would show up in C-level backtraces. We'd rather it didn't.

[2022-07-07 18:29] noahgibbs commented on #305
Pairing with Maxime, we figured out I wasn't setting the PC and SP properly in the CFP frame data. So: needed a jit_prepare_method_call. Now the way I'm passing keyword arguments seems wrong - I grabbed the "put the keywords into a hash with build_kwhash" method from gen_send_cfunc. But it's not clear that that's working for rb_f_send. The passed argc seems wrong when there are keywords.

So: my n

[2022-07-08 14:31] noahgibbs commented on #305
Okay, so for cfuncs it looks like if there are keywords (I *think* it's with any keywords, not just a keyword splat) there may be an extra argument hash for the keywords. And argc is increased by one for that hash. There's a related optimization for "if keywords are allowed but this call doesn't have any, remove the empty hash, decrement argc and don't set the 'has keywords' flag." So if there's a

[2022-07-08 15:39] noahgibbs commented on #305
ISEQs pretty clearly assume you have a bunch of keywords pushed onto the Ruby stack. In vm_insnhelper.c:vm_call_iseq_setup we pass SP - argc as the argv (that is, argv is on the Ruby stack), and the just-keywords part get copied into a new stack variable (see vm_callee_setup_arg, search for ALLOCA_N) and passed through to the ISEQ call as keywords.

Our own codegen.rs is similar -- for cfuncs we c

[2022-07-08 16:06] noahgibbs commented on #305
Next question is presumably: how do ISEQs check arity, and why are we currently failing that check?

I've also put together a correct-but-scope-limited version of the change that just side-exits for send-with-keywords. But I'd rather get keywords working, so I'll keep at it for now.

[2022-07-08 16:33] noahgibbs commented on #305
Hm. If the VM_CALL_KWARG flag is set (see vm_args.c:setup_parameters_complex) and the ISEQ allows keyword parameters we *do* subtract the number of keywords from argc. So: that's what it looks like when we call to an ISEQ. If there are M real args and N keyword parameters supplied, argc is initially N + M. No keyword hash added as a single argc param, though, that's a cfunc-only thing. Or maybe a

[2022-07-08 16:48] noahgibbs commented on #305
Okay - when rb_f_send tries to tell if keywords are passed, rb_keyword_given_p() is returning false. That, in turn, checks the env flags (from cfp->ep):

[code]

We *do* set the VM_FRAME_FLAG_CFRAME_KW when pushing a frame in gen_send_cfunc (only if there are keywords in the call). So maybe we need to set it here too? But we're not pushing a frame here. I'll try to figure out when/how CRuby sets i

[2022-07-08 16:53] noahgibbs commented on #305
Huh. Yeah, I'm only seeing CRuby set that flag when pushing a frame. But it's checking it in rb_f_send before it pushes the frame? Hrm.

I wonder if this is a leftover from rb_f_send being its own cfunc. So maybe they're assuming rb_f_send (or public send) *does* get a frame pushed first. If so, I may have to figure out how to drill down further, interface-wise, in order to supply the "yes, really

[2022-07-18 12:05] noahgibbs commented on #305
After having trouble with *both* kwargs and blocks, it looks like I'm going to need to expose something under vm_insnhelper.c -- vm_insnhelper keeps an entirely different parallel implementation of calling Ruby methods from vm_eval.c. Alan suggests that it's probably due to calling from C versus calling from Ruby, which sounds plausible to me. In any case, it seems like me using the vm_eval endpoi

[2022-08-23 15:14] noahgibbs opened #431 "YJIT: upstream `yjit_backend_ir` branch (new backend)"
Starting from yjit_backend_ir (currently: d17b53c8ffa50dc916d022883ceae97218d71b6e), I'll create a new branch without merge commits and with some level of commit-squashing. TODO items include:

* [X] Linearize the commit history, removing merge commits
* [X] Update that commit history to be relative to a recent CRuby-master commit
* [X] Squash multi-commit PRs to a single commit
* [X] For each PR,

[2022-08-23 16:50] maximecb commented on #431
Sounds good to me 👍 :)

[2022-08-24 13:53] noahgibbs commented on #431
The noah_backend_rebase branch has now 'replayed' up through commit b9199af8f9f7b0f72f29303b970c07b433bc881a. That's about where we start seeing merge commits and other things of interest that need to be handled more carefully. It's also the earlier history of the new backend, where a lot of the commits don't seem to be part of any PR -- they were just pushed to the branch. As yet I haven't squash

[2022-08-24 19:14] maximecb commented on #431
I just updated yjit.md on the `yjit_backend_ir` branch. I see that we already mention that YJIT is experimental, so I don't necessarily think we need to say that arm support is experimental.

[2022-08-24 19:18] YurySolovyov commented on #431
Did anything changed about Code GC?

[2022-08-24 19:31] maximecb commented on #431
We will resume work on code GC in September.

[2022-08-24 19:56] k0kubun commented on #431
FYI: I cherry-picked a couple of commits from yjit_backend_ir to master 60c900f452327b9b5c82b1e2a8d1d9f88ce8a9b7 b4be3c00c5737649166db676278fd28f768a5e3c, hoping that the upstreaming PR will look less like a big-bang merge. Reordering commits could add some conflict resolution work and I'm sorry about that though.

[2022-08-24 21:34] maximecb commented on #431
Let us know if you need help with anything Noah.

[2022-08-25 01:07] noahgibbs commented on #431
So far, so good.

Similarly, not too worried about some of it getting backported to master. It'll be fine.

Still untangling right now. You can see progress on noah_backend_rebase. Once that's done (Friday?), the main thing I'll want help with is a decision about how much commit-squashing is to be done. That should be pretty straightforward, though.

Somebody else could also look through test_yjit

[2022-08-25 12:45] noahgibbs commented on #431
Good progress today. I've rolled history forward to yjit_backend_ir latest, making sure things build and don't look too bad along the way (but not running most tests.) Commits are linearised and squashed, messages include URLs for PRs, etc.

<s>This is all based on a 23rd August CRuby master (46c3a93982d0b81668668a65c10bc3670a488d8a). I'll roll it forward to a most-current.</s> The branch is rebas

[2022-08-25 14:28] maximecb commented on #431
Good work Noah! :)

@k0kubun do you have bandwidth to help Noah with the upstreaming work? If so, you two could coordinate. You could pair and Noah could show you where he is at.

I was thinking we should take inventory of what's `test_yjit_new_backend.rb` and if there's anything useful, merge them into `test_yjit.rb`. We probably do have a few useful regressions and corner case tests worth salvag

[2022-08-25 14:30] noahgibbs commented on #431
For instance, we disable and re-enable the Ubuntu tests. We started by turning off a lot of standard tests, then slowly re-enabled them. In a lot of places, that'll cause churn in the files for those tests (e.g. stuff in .github/workflows, .cirrus.yml).

[2022-08-25 15:23] maximecb commented on #431
Ok I see. Yes I think it would be good to remove those changes if we can to get a "cleaner" PR with less churn, but this can be lower on the priority list if you want since it probably wouldn't stop the PR from being merged.

[2022-08-25 17:08] k0kubun commented on #431
Great work! It looks pretty close to the merge.

Yes, I'd be happy to. It'd be a lot of force-pushes, so coordination is certainly needed. I'll talk with Noah.

I'll help him on those items once he signs off for today.

[2022-08-25 17:40] k0kubun commented on #431
Looking at the commit messages, the history already doesn't look too bad. I'm thinking about doing the following.

* As suggested by Maxime, remove diffs around temporary CI changes. Also, every diff in `test_yjit_new_backend.rb` should be redirected to `test_yjit.rb`, and leave it un-merged if duplicated. When it ends up making it an empty commit, remove it.
* Try building each revision (at least

[2022-08-25 18:50] k0kubun commented on #431
I noticed that you did it by appending `PR: https://github.com/Shopify/ruby/pull/123`, which looks like a good format for commits that were not squash-merged.

For squash-merged ones with `(#123)` in the first line of the commit message, however, I think we should either remove it or just change it to `(https://github.com/Shopify/ruby/pull/123)` to avoid confusion and broken links on ruby/ruby. I

[2022-08-25 19:29] k0kubun commented on #431
Here's the code I used for the link rewrite:

[code]

[code]

[2022-08-25 22:39] k0kubun commented on #431
To fix test code, it'd be useful to have a buildable YJIT in every revision, so I started working on it first. After the filter-branch, I added the following modifications to my branch (at https://github.com/Shopify/ruby/commit/5fd3754a42 now), and now every revision is buildable on x86_64 :tada:

* Every revision in https://github.com/Shopify/ruby/compare/f5f81bb777bb1dbf8da3f976136733e65b026fef.

[2022-08-25 23:55] k0kubun commented on #431
So I'm looking at this range https://github.com/Shopify/ruby/compare/881bc2a1765e7c19ab389c53841adc5ac329f1aa...baf0d8b36e8a7e5e773194c3bff4d03b3519fd65 to look for temporary CI/test changes now.

We hadn't had the temporary workflow in the first 78 commits. [Add temporary workflow to check new backend](https://github.com/Shopify/ruby/commit/1ec186a874cf074f2db8d9095e698fb27cdfecaa) was the first

[2022-08-26 00:23] k0kubun commented on #431
As to the CI script, I'd say the current `.cirrus.yml` doesn't look too bad. Maybe we should stop saying it's "Temp Checks" (edit: filed https://github.com/Shopify/ruby/pull/441), but it seems fine to do any other improvements after upstreaming. I'll clean up changes around x86_64 (GitHub Actions) though.

[2022-08-26 01:07] k0kubun commented on #431
<details>
<summary>Commits with changes under .github/</summary>

* https://github.com/Shopify/ruby/commit/1ec186a874 Maxime Chevalier-Boisvert Add temporary workflow to check new backend
* https://github.com/Shopify/ruby/commit/813a8ffcdd Maxime Chevalier-Boisvert Fix bug with LeaLabel on x86, add CI test
* https://github.com/Shopify/ruby/commit/b8d45b5cf4 Maxime Chevalier-Boisvert Enable more bt

[2022-08-26 01:13] k0kubun commented on #431
I'll call it a day here. The only remaining effort would be to remove duplication between `bootstraptest/test_yjit.rb` and `bootstraptest/test_yjit_new_backend.rb`. Honestly, given the fact that we still have `bootstrap/test_yjit_rust_port.rb`, it's probably fine to do that later, but the commit history would look nicer without duplicated tests of course.

FYI, here's the list of 44 commits that t

[2022-08-26 01:20] maximecb commented on #431
Looks pretty good Kokubun. Thanks for all the work you've put into this.

I just pushed 467f89daaba3cd31d2b231ee35f6c4e4af824b10 to remove `ir_ssa.rs` which is no longer use and now outdated.

[2022-08-26 09:55] noahgibbs commented on #431
This looks like great work. Thank you!

Yeah. I think we should remove it from the first line and just have the URL at the bottom. You're right, it gives bad links for ruby/ruby. It was useful for tracking the rebase, though!

[2022-08-26 12:05] noahgibbs commented on #431
I've started on the commits for test_yjit_new_backend.

[2022-08-26 12:48] noahgibbs commented on #431
(Sorry for the comments turning into headings in the details text)

<details>
<summary>Stuff from test_yjit_new_backend that potentially seem useful/different to me:</summary>
<pre>
Line 352-372
# invokebuiltin
assert_equal '123', %q{
  def foo(obj)
    obj.foo = 123
  end
  struct = Struct.new(:foo)
  obj = struct.new
  foo(obj)
}

# invokebuiltin_delegate
assert_equal '.', %q{
  def foo(path)

[2022-08-26 13:02] noahgibbs commented on #431
I wrote:

Ah, but you had done it the other way. Okay, I'm officially okay with either one ;-)

[2022-08-26 13:26] noahgibbs commented on #431
I've rebased from Kokubun's branch to move the tests we want to keep to test_yjit.rb, and pushed it as branch noah_backend_rebase again.

[2022-08-26 13:33] noahgibbs commented on #431
Nothing new in yjit_backend_ir. Sounds like we're basically okay on cirrus.yml. Looks like Kokubun already cleaned up the .github/workflows files?

So we may be good to open the ruby/ruby PR.

[2022-08-26 15:44] k0kubun commented on #431
The branch looks great to me. Thank you for working on the test_yjit_new_backend portion. I'll do some final checks and then open a ruby/ruby PR.

[2022-08-26 15:47] noahgibbs commented on #431
Perfect. Thanks!

[2022-08-26 18:04] k0kubun commented on #431
I finished checking what I wanted to check https://shopify.slack.com/archives/C019MPFLWHY/p1661536712906259.

Next, I'll merge Alan's PR as the final patch, merge it to your branch, fix its PR link, rebase it from the latest master, run yjit-bench, and finally, file a ruby/ruby PR.

[2022-08-29 11:02] noahgibbs commented on #431
At this point, any further work will take place in the ruby/ruby PR. Closing.

We *do* still need to cherry-pick one more PR into the ruby/ruby PR (https://github.com/Shopify/ruby/pull/437). But we'll do that there, not here.

[2022-08-29 11:02] #431 closed, assigned to noahgibbs

[2022-09-16 15:20] maximecb opened #445 "YJIT: splat args changes reduce ratio in YJIT on railsbench"
The changes introduced in the splat args pull requests seem to reduce the percentage of instructions executed in YJIT on railsbench (cause us to side-exit more often), which is the opposite of what would be expected.

I think we need to be more careful in the future about merging optimizations without benchmarking them, especially if they are non-trivial changes, because it's unfortunately too eas

[2022-09-16 18:12] jimmyhmiller commented on #445
Will dive into this and figure out the discrepancy here.

[2022-09-16 18:43] jimmyhmiller commented on #445
@maximecb Are you running these on x86? On my arm machine I'm getting different numbers

Before splat changes https://github.com/Shopify/ruby/commit/8f37e9c91814357f79911e208ef4d0d56dfa9433
<details>

[code]

</details>

After splat changes 2387fbfb34f58ea05b4aceaab6d54febe9eab4c1

<details>

[code]
</details>

My runs go from 86.1% to 86.3% after. So splat increased the percent by +0.2%. I didn't

[2022-09-16 19:45] maximecb commented on #445
Yes I am on x86 and wow that is very strange that each platform would behave differently. I'll try to build the arm version of https://github.com/Shopify/ruby/commit/2387fbfb34f58ea05b4aceaab6d54febe9eab4c1 to see if I can reproduce your numbers.

[2022-09-16 20:28] maximecb commented on #445
I get ostensibly the same stats as on x86 for the arm version of https://github.com/Shopify/ruby/commit/2387fbfb34f58ea05b4aceaab6d54febe9eab4c1

[code]

Are you using the same command that I'm using to gather the results:
[code]

Because the number for `total_insns_count` from your run is very different from mine.

[2022-09-16 21:22] jimmyhmiller commented on #445
So I messed up above and ran the wrong versions. Running the right versions I do get a lower percentage.

 I was also running `ruby --jit --yjit-stats -I "./harness" benchmarks/railsbench/benchmark.rb ` so my numbers were a bit different.

I can now recreate this and will look at closing the gap and explaining why the gap exists.

Thanks

[2022-09-16 22:24] k0kubun commented on #445
I overlooked `ratio_in_yjit` metrics, which went from 86.3% to 86.1% in my numbers. `opt_send_without_block` exits didn't increase from 45.6% in mine though.

edit: I guess it's because you used run_once.sh?

I agree.

I also strongly prefer that we don't leave master randomly crash on CI because it's harder to fix random SEGV when you need to debug the entire master branch, not just a single fail

[2022-09-19 06:10] k0kubun commented on #445
confirmed https://github.com/ruby/ruby/pull/6395 recovers `ratio_in_yjit` (the numbers are at https://github.com/ruby/ruby/pull/6395#issuecomment-1250605366) and merged it. Thanks, Jimmy!

[2022-09-19 06:10] #445 closed, assigned to k0kubun, jimmyhmiller

[2022-09-19 08:58] k0kubun commented on #445
I think doing this should be as easy as possible. I filed https://github.com/ruby/ruby/pull/6403 for that purpose.

[2022-09-19 14:00] jimmyhmiller commented on #305
Just thought I'd leave a note here that I've talked to Noah and am looking into this as well. I have an implementation working for very basic calls. But probably going to build some tooling to help me visualize the ruby stack better so I can make sure I am doing that manipulation properly.

[2022-09-19 14:35] maximecb commented on #445
Thanks Jimmy & Kokubun for the fix.

I'm still a bit surprised that we don't really see better numbers than before with the splat change. It might be worth investigating a little deeper if you have time this week Jimmy, digging a bit more into the behavior or railsbench and whether there's something we're not taking advantage of or what could be improved.

I agree. We should all be a bit more disc

[2022-09-19 14:45] jimmyhmiller commented on #445
Yeah, definitely plan on continuing to dive in. I've hand traced some calls that were once exiting on splat and find they just exit elsewhere now. Many calls with splat also have corresponding complex methods (e.g. def my_method(*)). So it isn't super surprising to me that the exits didn't change drastically. That said, I am sure there are a few more things we could adjust and get more from this.

[2022-09-19 15:59] maximecb commented on #445
That makes a lot of sense. I would guess people also use splats with .send 🤔

[2022-09-19 17:44] maximecb opened #446 "YJIT: optimize `setinstancevariable` using object shapes"
Currently, for `setinstancevariable`, we always call a C function because of write barriers because we don't want to deal with the complexity of write barriers in YJIT. This is pretty slow and inefficient.

However, it's possible to know which generation an object is from based on header bits. We may also be able to know statically that write barriers are not necessary (i.e.: writing an integer pr

[2022-09-19 19:57] maximecb opened #447 "YJIT: improve support for optional parameters at function entry points"
In CRuby, optional parameters are handled by having the ISEQ for methods begin executing at different PC values depending on which parameters are passed or not.

YJIT installs a JIT entry point when the call threshold is reached, but it has only a single entry point, no matter what PC execution begins at. In order to make sure we handle things correctly, we have a function `gen_pc_guard` which che

[2022-09-19 21:30] jhawthorn commented on #448
Oh! I have work in progress for this and hope to submit a PR soon™

[2022-09-19 22:52] maximecb commented on #448
No problem @jhawthorn. I moved this PR to the shopify/ruby repo because I figured it's something we still cared about. Glad to hear you're planning to open a PR soon :)

[2022-09-20 10:44] noahgibbs commented on #305
Seems like a good idea. Your approach seems likely to have better results than mine -- I was just going to avoid the side-exit, but your way would allow some actual optimisation. But it'll also want more testing and be generally a bit more involved.

[2022-09-26 21:12] maximecb opened #449 "YJIT: make sure we don't make the performance of unit tests worse"
This is not a high priority issue but a nice-to-have. A current flaw with YJIT is that, while we manage speedups on almost every workload, we get a slight performance drop while running unit tests. This is because unit tests run a lot of code not very many times. That's unfortunate because it might negatively affect people's perception of YJIT. Unit tests are typically fairly long to run, so peopl

[2022-09-27 00:49] k0kubun commented on #449
I think we should keep using what most users would use: the actual default call threshold. When you change the threshold, the code layout/sequence could be impacted, and we should measure what actually happens to users and Shopify rather than artificially keeping numbers.

If our warmup is unrealistic, we should just fix it. If it's already realistic, we should benchmark and make sure that the def

[2022-09-27 09:18] noahgibbs commented on #449
If we raise the default threshold, we're definitely suggesting that YJIT is mostly for optimising long-running workloads (e.g. servers.) That's fine, but it also affects our other communication. For instance, very short workloads are just not going to be optimised. That's great for gem/bundler -- it means turning on YJIT for everything won't drop their performance significantly. But it means YJIT

[2022-09-27 12:55] noahgibbs opened #450 "Attempt to set memory executable before setting up YJIT and deactivate YJIT on failure"
Using Docker and QEMU, running what looks like x86-based YJIT on an ARM64 host, @byroot encountered some problems. That makes sense, and it's a great example of the kind of platform we will probably *never* test regularly.

But he points out that if we did a quick capability check for setting memory as executable, we could refuse to activate YJIT if it fails. I've seen this error happen before on

[2022-09-27 12:56] casperisfine commented on #450
I found this bug report: https://developer.apple.com/forums/thread/672804

Seem to be a bug in macOS. Either way would be nice to handle it gracefully.

[2022-09-27 14:39] maximecb commented on #450
Can you provide a bit more context? It's not fully clear to me what you mean by this.

You mean running x86 YJIT inside a QEMU+Docker emulator, on an arm64 machine? (I'm also curious why we're doing this since x86 machines seem to be easier to get ahold of than arm machines?)

I know there is a thread on slack but we should also try to make GitHub issues self-contained if possible. I saw Jean post

[2022-09-27 14:45] casperisfine commented on #450
Well, the vast majority of Docker image out there are built for x86. You can provide multi-arch images, but that's still rare.

So when you are working on a M1 Mac and trying to do Docker stuff, it's extremely frequent that you end up running an x86 image, and Docker for Mac transparently run it through Qemu. So that's how.

It's somewhat likely that people will run into this if they are debugging

[2022-09-27 15:30] maximecb commented on #449
The tradeoff with every JIT compiler is that the optimizations have to pay for themselves.

IMO the current value of 10 is kind of unrealistically low. I think what we'll find is that if we increase it to 20 for example, performance we get on benchmarks would actually not change much. This is because a lot of things in the way programs execute follow a Pareto distribution. A small minority of meth

[2022-09-27 19:10] maximecb commented on #449
Out of curiosity, I decided to spin up an AWS x86 instance and benchmark with call threshold 10 vs 100 and also 10 vs 500 using `yjit-bench`. I left the warmup the same as before.

Interpreter vs call threshold 10 vs 100:
[code]

From what I see above there's surprisingly little performance difference between call threshold 10 and 100, even on the first iteration, which is surprising to me.

Inter

[2022-09-28 01:19] k0kubun commented on #450
I agree that multi-arch images are still rare (while we do have https://github.com/ruby/ruby-docker-images/pull/39) and it's sometimes convenient to just rely on the x86 emulation. However, I think the user should be aware that emulation is slow. If a user wants faster Ruby, it seems reasonable to ask them to prepare a multi-arch image and avoid emulation, whether you use YJIT or not.

Anyway, unt

[2022-09-28 06:15] k0kubun commented on #450
Well, does this mean it could work if we transition `PROT_NONE` to `PROT_READ | PROT_WRITE | PROT_EXEC` and then leave it, giving up W^X for such environments?

[2022-09-28 08:08] byroot commented on #450
Well, that still doesn't provide native images for M1 macs. I think it's something about `linux/arm64` vs `linux/arm64/v8`, there something about it here: https://github.com/ruby/ruby-docker-images/issues/35

[2022-09-28 09:31] noahgibbs commented on #450
Pretty sure Jean noticed already, but worth pointing out:

[code]

This says amd64 (that is, an x86-based image) versus arm64/v8 (ARM-based image.)

[2022-09-28 09:34] casperisfine commented on #450
🤦 I always misread `amd64` as `arm64`. But yeah the problem remain, it's extremely common for M1 users to use `x86` docker images.

As for https://github.com/ruby/ruby-docker-images/pull/39, while in theory it allows for ARM images, it seems that only `x86` ones are published https://hub.docker.com/r/rubylang/ruby/tags

[2022-10-03 13:42] tatsuya6502 commented on #450
Hi. I and @sisshiki1969 looked into this issue, and found the root cause of the following error:

[code]

However, after fixing it, Ruby apparently got hung somewhere before start running a Ruby script. So there must be another issue to fix.

The above error can be avoided by modifying `rb_yjit_mark_executable` not to call `mprotect` when `len` is 0 byte.

This was caused by a subtle behavior diff

[2022-10-03 18:34] maximecb commented on #450
Thank you so much for looking into this and submitting a patch for QEMU @tatsuya6502 ! :)

[2022-10-06 03:30] tatsuya6502 commented on #450
OK. We made some progress. Here is a summary:

1. The other issue (Ruby got hang) was fixed after reinstalling Docker Desktop on a Mac.
2. We found no other issues.
3. We are preparing a patch for QEMU user space emulator (`qemu-x86_64`).
    - a. We will also submit a patch to YJIT not to call `mprotect` when `len` is 0.
4. To verify the YJIT patch would solve the issue, we ran [yjit-bench](https

[2022-10-06 12:38] maximecb commented on #450
Thanks a lot @tatsuya6502 !

[2022-10-11 22:31] maximecb commented on #449
I had some additional thoughts on the issue: it seems like the call threshold heuristic is too basic to really tell us when a program is done booting, so to speak. Potentially, what we could use multiple simple heuristics to estimate when we are done booting.

This is just an idea, but I'm assuming that during boot, a program will frequently start executing new functions and loading new modules. I

[2022-10-12 07:30] noahgibbs commented on #449
That sounds like a good idea. It would be a good way to check for the failure case -- common in Ruby -- where a program is doing something weird and we don't necessarily want to try to optimise it. For instance, a Rails server in development mode will just keep recompiling everything and YJIT won't help it.

Though it would also have false-positives like people using old-style structs that would c

[2022-10-15 07:37] tatsuya6502 commented on #450
@maximecb — I submitted a pull request: https://github.com/ruby/ruby/pull/6563. Please review when you have time. Thanks!

[2022-10-17 16:30] #450 closed, assigned to nobody

[2022-10-17 21:03] maximecb opened #452 "YJIT: optimize `opt_aref` with arrays and integer indices"
Aaron indicated that `opt_aref` uses a C function call for every element read, we call `rb_ary_entry_internal`. It' understandable why that is as the logic for `rb_ary_entry_internal` is fairly convoluted.

That code has to deal with:
- Qnil if index out of bounds
- Negative indices
- embedded arrays vs not

 However, it's also pretty slow. We should be able to generate a faster instruction sequen

[2022-10-18 17:14] maximecb opened #453 "YJIT: check if YJIT can easily compile and run on a Raspberry Pi 4 🤔 and benchmark it."
I’ve been meaning to find out of YJIT can compile and run easily on a Raspberry Pi (and if not report issues).

If it does run, I'd really like to benchmark it using [yjit-bench](https://github.com/Shopify/yjit-bench) on that platform, and maybe produce some graphs to share on twitter or future blog posts and talks. It could be really cool if we could speed up Ruby on that platform :)

YJIT instal

[2022-10-21 18:18] k0kubun commented on #449
To me as a Ruby user, only two things matter in unit tests performance:

1. Time spent on running one or a few test cases
2. Total time spent on running all tests on CI

I'm not sure how bad we currently are at (1). I suspect majority of calls are not JITed anyway in this workload, but we should start measuring it somewhere to "make sure we don't make the performance of unit tests worse". Also, th

[2022-10-31 15:16] noahgibbs commented on #305
Hey @jimmyhmiller - is this done now?

[2022-10-31 15:19] noahgibbs opened #454 "When YJIT is used with very low memory, we show an unnecessary crash report on console when we run out of memory"
If I set "ulimit -Sv 100000" on the x86 benchmark CI machine and then run Rubykon, I get a crash report with YJIT, but not without YJIT:

[code]

However, the crash report is exactly what you'd hope as far as the actual error:

[code]

So we just need to recognise this case and not dump a crash report to console.

[2022-10-31 15:22] noahgibbs opened #455 "When we use very low --yjit-exec-mem-size, YJIT segfaults on x86_64"
With Ruby SHA 7ed10abdd9:

[code]

Notice the very low --yjit-exec-mem-size.

We get a crash report:

[code]

[2022-10-31 15:26] noahgibbs commented on #455
Does NOT replicate with SHA c3de08cb24 on my Mac.

[2022-10-31 15:28] noahgibbs commented on #455
DOES replicate on the benchmark CI instance with Ruby SHA c3de08cb24.

[2022-10-31 15:31] noahgibbs commented on #455
Does NOT replicate on the AARCH64 benchmark CI instance with Ruby SHA c3de08cb24.

So maybe x86_64-specific?

[2022-10-31 17:04] jimmyhmiller commented on #305
Yep got merged here https://github.com/ruby/ruby/pull/6488

Thanks for checking up

[2022-10-31 17:04] #305 closed, assigned to noahgibbs, jimmyhmiller

[2022-10-31 17:25] maximecb commented on #452
Jimmy Miller concluded that doing the C function call is just as fast as generating the inline code for this.

[2022-10-31 17:25] #452 closed, assigned to jimmyhmiller

[2022-10-31 17:36] maximecb opened #456 "YJIT: precise stack scanning for code GC"
Kokubun identified a limitation with the current code GC approach. This is not a critical problem because we can still run several code GC cycles. However, it could be an issue for some very long running programs. It would be nice if we can fix it for 3.2, but if we don't have time, that is an ok answer as well.

Currently, if an ISEQ is on the Ruby stack, we keep all of its code pages alive. The

[2022-10-31 18:00] k0kubun commented on #456
By its definition, a leaf method doesn't switch to another thread/fiber in the middle of its call. Also, it doesn't trigger code GC because it's a C function. Therefore, I believe it's never on stack when code GC is triggered unless you have multiple Ractors.

Currently, we only use `with_vm_lock` for `rb_yjit_tracing_invalidate_all`, but maybe we should use that for entire `code_gc`. Once we do s

[2022-10-31 18:32] maximecb commented on #456
That seems workable. Wondering if Alan @XrXr has any input?

Can you explain what is `rb_jit_cont`? Still not clear on how that works.

[2022-10-31 20:31] k0kubun commented on #456
Every Fiber has `rb_context_t` to store its Ruby/C stack. JITs want to check all `rb_context_t`s, but AFAIK there's no way to iterate over all `rb_context_t`s on the interpreter. So we have a doubly-linked list implemented by `rb_jit_cont` to maintain a reference to all `rb_context_t`s. With JIT enabled, whenever a `rb_context_t` is created, a `rb_jit_cont` node holding its reference is created an

[2022-11-01 11:57] noahgibbs commented on #455
Still gets a segfault on debug build, so there's not an assertion that catches it.

[2022-11-01 12:59] noahgibbs commented on #455
Hm. Doesn't replicate as-is on ARM64, but it *does* spin for a long time (forever?) if I set the exec-mem-size to 2 instead of 3. So: YJIT will respond very poorly if there's just not enough executable memory for the actual in-use generated code on either platform. But I think the generated code is slightly smaller on ARM64 for 30k_methods.

[2022-11-01 14:33] noahgibbs commented on #455
In asm/mod.rs, in CodeBlock::next_page, there's a section where we try to set the codeblock's page to the next one. If we fail, we set the write pointer back to the old one and return false, next to a comment saying to roll back if there are no more pages.

We do *not* crash the first time we hit that. So it's not as simple as "hit the limit, segfault." Looks like we hit it around 25 times before

[2022-11-01 14:59] noahgibbs commented on #455
It's also not just getting to the last assemble-able chunk of code, hitting out-of-pages over and over and dying. It assembles a *lot* more chunks of code after the final "no more pages" and before the segfault.

Ah, I'm wrong about the retry loop there. If next_page returns false then it does *NOT* retry, only if next_page returns true. So that's also not why we're getting the infinite loop on AR

[2022-11-01 15:29] noahgibbs commented on #454
Ah, this specific error comes from yjit.c:rb_yjit_reserve_addr_space. We're just using perror() and rb_bug for any failure.

Good output from CRuby:

[code]

So it looks like maybe CRuby throws an exception here? That probably is *not* what we want -- this is not recoverable for YJIT. Though I don't think full crash report is the way to go either. In ractor.c, a comparable case just prints a messa

[2022-11-01 15:31] XrXr commented on #456
We can definitely scan to figure out which pages are on stack, though I think it might not be always correct to just keep on stack pages alive. When the on stack code is close to the end of a page, it jumps to the next page when we resume execution. We need to keep enough metadata to detect this case.

BTW, for scanning, I think leaf functions can be on stack too, even if we take the VM lock. For

[2022-11-02 11:35] noahgibbs commented on #454
PR filed on ruby/ruby: https://github.com/ruby/ruby/pull/6659

[2022-11-02 11:35] #454 closed, assigned to noahgibbs

[2022-11-02 12:52] noahgibbs commented on #455
Huh - at least on my M1 Mac, it's behaving fine now. So maybe it's just slower on Graviton. So I think that means this is *not* an ARM64 problem, only x86.

[2022-11-02 13:40] noahgibbs commented on #455
I don't think this is about code GC. When we finally get to the crash (which can be a segfault at any of a number of very different-looking addresses or sometimes an illegal instruction), code GC has given up long before -- global freed_pages is empty at the top of asm/mode.rs:code_gc() for a lot of consecutive calls first. So no more code GC is happening, and none has happened for a bit when we c

[2022-11-02 13:53] noahgibbs commented on #455
Just telling it to leave 10 bytes instead of 6 of space for the final jump doesn't seem to affect the problem. I wouldn't expect it to - it's not hitting assertions related to JMP_PTR_BYTES, and it seems like we check that pretty carefully. So I don't think it's just failing to write the final jump. If it *is* failing somehow it's not detecting it. But that problem looks sufficiently checked to me

[2022-11-02 14:20] noahgibbs commented on #455
I have a theory that in some cases we're not writing a final jump to a page when we know there's no more pages to allocate, and so nowhere to jump to -- probably in asm/mod.rs:set_page, when the 'if' condition is false.

I've checked that we have cases where the 'if' is false, and we have no dropped bytes on the page. So we're sometimes returning 'true' from set_page without writing a jump. I just

[2022-11-02 14:26] noahgibbs commented on #455
Hm, no, now I think that final set_page won't/shouldn't ever fail if the set_page succeeded already on our own codeblock. So okay, it's probably fine without the assert. So: that's not it.

[2022-11-02 15:14] #456 closed, assigned to nobody

[2022-11-03 14:57] noahgibbs commented on #455
Looks like Ruby PR #6664 *does* fix this crash.

[2022-11-03 15:42] #455 closed, assigned to nobody

[2022-11-04 15:49] noahgibbs opened #457 "Occasional ARM64 YJIT segfault in railsbench with low yjit-exec-mem-size"
Can repro with CRuby SHA 1956fb9b78 (3rd Nov) around one time in three on the x86_64 benchmark CI server.

In yjit-bench:

    WARMUP_ITRS=1 MIN_BENCH_ITRS=1 MIN_BENCH_TIME=0 ruby --yjit-call-threshold\=1 --yjit-exec-mem-size\=1 -I ./harness benchmarks/railsbench/benchmark.rb

Also repros on 6e4b97f1da (5th Nov) at around the same rate.

[2022-11-04 16:14] noahgibbs commented on #457
Running in lldb gets a backtrace:

[code]

[2022-11-04 16:18] noahgibbs commented on #457
Place where it hits the segfault doesn't look like real code:

[code]

and one stack frame up is in vm_eval.c:206, in vm_call0_body, calling vm_exec(ec, true) as part of calling an ISEQ. Not sure what happened there. Might also be a messed-up backtrace somehow, though it looks okay at a glance.

In my run here, vm_exec is at 0x00005555555e3f44 and the error location is at 0x5555560f633a, a distanc

[2022-11-04 16:25] noahgibbs commented on #457
Yeah, that's deep in the weeds in uninitialised memory. So yeah, presumably some kind of bad jump.

[2022-11-04 16:42] noahgibbs commented on #457
Also gets a crash on ARM64 on my Mac laptop, but looks like possibly different crash. I've gotten an illegal instruction there, and also an assertion failure:

[code]

[2022-11-04 18:51] k0kubun commented on #457
On M1 with lldb, I got a different backtrace from Noah's:

[code]

[2022-11-04 19:01] k0kubun commented on #457
I started trying:

[code]

but will work on that further after lunch.

[2022-11-04 20:01] k0kubun commented on #457
I think it's fair to apply the above patch, but I still get a different backtrace:

[code]

[2022-11-04 21:51] XrXr commented on #457
If I apply the patch from https://github.com/Shopify/ruby/issues/457#issuecomment-1304016138
I can't reproduce a crash anymore with the command in the OP. However if I pass `--yjit-call-threshold=1 --yjit-exec-mem-size=1 --yjit-code-page-size=112`, I get the following crash occasionally.

[code]

Not sure if it's related. Maybe with the modified code page size sometimes we're marking part of the G

[2022-11-08 21:11] k0kubun commented on #457
I confirmed https://github.com/ruby/ruby/pull/6686 fixes the problem on my machine. Can @noahgibbs also check it's fixed?

[2022-11-09 14:27] noahgibbs commented on #457
Looks fixed on x86. Still got a crash on Graviton with SHA c3de7a3c58. Updating to latest SHA now to test that.

[2022-11-09 14:41] noahgibbs commented on #457
Yup, still getting Graviton crashes even with this patch applied. I'll also check on my laptop.

[2022-11-09 15:25] noahgibbs commented on #457
Getting a segfault on my M1 laptop, too, with SHA 1dc4128e92. Looks like around 1 in 4 or 5 runs? There's also that assertion failure I sometimes get on Graviton, though I haven't seen it in the first few runs on Mac.

[2022-11-10 15:09] noahgibbs commented on #457
I've updated the issue title to reflect it now being ARM64-only.

[2022-11-11 16:18] XrXr commented on #457
I've merged https://github.com/ruby/ruby/pull/6711 which fixes the issue locally on my M1 laptop. Let me see if I can reproduce the issue elsewhere...

[2022-11-14 13:04] noahgibbs opened #459 "Frequent illegal operation on Graviton in psych-load with low memory"
Reproduces frequently, but not every run, with:

    MIN_BENCH_ITRS=1 MIN_BENCH_TIME=0 WARMUP_ITRS=0 ruby --yjit-call-threshold=1 --yjit-exec-mem-size=1 -I ./harness benchmarks/psych-load/benchmark.rb

Reproduced with CRuby SHA ea278ddd92

[2022-11-14 14:05] noahgibbs commented on #459
The problem doesn't reproduce without the --yjit-exec-mem-size=1 param. I was pretty sure, but it's good to check.

[2022-11-14 14:14] noahgibbs commented on #459
It either doesn't repro or repros far less often on my M1 Mac laptop.

[2022-11-15 19:13] XrXr commented on #459
I can't reproduce this on https://github.com/Shopify/ruby/commit/ea278ddd921bcafc3be2a79a7f0f68685e56da3b or later versions with  Graviton (a1.metal). Can you check again and post the crash log?

[2022-11-16 13:58] noahgibbs commented on #459
Definitely not repro'ing with 41b0f641ef, including on the a1.metal benchmarking instance I've been using.

Clean rebuild with ea278dd, I'm still getting it. Not sure if that's worth our time to fix it since I'm not seeing it with later SHAs.

I'll attach the (printed to console) crash report, in case that's useful.

[2022-11-16 13:59] noahgibbs commented on #459
[crash_report.txt](https://github.com/Shopify/ruby/files/10022345/crash_report.txt)

[2022-11-17 11:08] noahgibbs commented on #459
Actually, given that I can't repro this with latest Ruby I'll just close it and make sure we monitor. I think we're at a point where I can just do a low-mem run on all the yjit-bench benchmarks as a regular thing, so if it pops up again, we should find it.

[2022-11-17 11:08] #459 closed, assigned to nobody

[2022-11-21 15:25] noahgibbs commented on #457
I'm not seeing this any more. Closing.

[2022-11-21 15:25] #457 closed, assigned to nobody

[2022-11-21 17:23] noahgibbs opened #460 "YJIT: all guard methods should update context's type info"
Right now we have various guard_object_is_array-type methods that do not update the context. Need to review all guard methods to make sure that if we do a guard, the context gets updated.

[2022-11-21 21:45] maximecb commented on #460
Link to code for said guard methods: https://github.com/ruby/ruby/blob/9e067df76bda7384e8f3ddda2b348f3a742eb784/yjit/src/codegen.rs#L1295

And here, `guard_two_fixnums` is an example of another guard that does upgrade the types in the context: https://github.com/ruby/ruby/blob/9e067df76bda7384e8f3ddda2b348f3a742eb784/yjit/src/codegen.rs#L2286

[2022-11-21 21:48] maximecb opened #461 "YJIT: test that configure script auto-enables building YJIT in dev mode on supported platform(s)"
We've added code in `configure.ac` to auto-enable building YJIT on x86/arm64, on Linux/BSD/MacOS. I'm slightly worried that this code could get reverted or broken at some point.

It would make sense to at least test that on Linux/x86-64, YJIT automatically builds in dev mode. This can probably done with a little bit of shell scripting, given that `ruby -v --yjit` will contain the string `YJIT` if

[2022-11-21 22:00] maximecb opened #462 "YJIT: avoid using deferred compilation if context already has the type info we need"
At the moment, we often use deferred compilation to peek at a value on the stack, or to peek at self (see `jit_peek_at_stack` and `jit_peek_at_self`). The downside of that is that it breaks blocks into smaller parts. That adds overhead, increases JIT memory usage, and also potentially takes away some optimization opportunities, because our backend is looking at smaller blocks with less opportuniti

[2022-11-22 22:44] xfalcox commented on #453
I can take a look into this later this week. I have a Raspberry Pi 4 running Discourse for https://blog.discourse.org/2021/12/2021-12-07-discourse-on-a-raspberry-pi/, so it even can be classified as work related :sweat_smile:

[2022-11-23 01:33] xfalcox commented on #453
Just got it compiled and ran a subset of benchmarks after applying this patch

[code]

Here is it:

[code]

I can go back and run the full suite tomorrow.

[2022-11-23 10:40] noahgibbs commented on #453
Nice! Those aren't bad results :-)

[2022-11-23 15:36] maximecb commented on #453
Thanks a lot @xfalcox

I would love to see the full set of results. In particular, we really care about the railsbench benchmark if that will run :)

I'm also curious to know if the installation was seamless, and if any of the benchmarks crash.

[2022-11-23 17:22] xfalcox commented on #453
Here they are:

[code]

To be honest, I wasn't able to compile it manually because, for some weird reason, compilation was failing to find the libffi/libyaml/libssl/readline libraries (they are installed). Couldn't get the correct `LD_LIBRARY_PATH` incantations to work, so I just gave up and used the handy asdf. Just had to `asdf install ruby 3.2.0-dev` and it was compiled fine with YJIT working.

[2022-11-23 18:50] maximecb commented on #453
Thanks a lot for taking the time to do this! :)

[2022-11-23 18:50] #453 closed, assigned to nobody

[2022-11-24 22:40] maximecb opened #463 "YJIT: memory leak exposed by code GC"
I decided to run an experiment to check if we had any memory leaks in YJIT by running `railsbench` in a loop, triggering a code GC every iteration and checking the memory usage.  It looks like the memory usage does increase over time, and quite fast. The issue reproduces with both release and dev builds.

To be clear, I don't necessarily think that the code GC itself is causing the leak. The leak

[2022-11-25 21:33] XrXr commented on #463
I've identified the source of the leak, however, fixing them seems a bit tricky. See https://github.com/shopify/ruby/commit/1093becfc61501e9a5d18d585a282e306a13dd82

[2022-11-28 20:58] maximecb commented on #446
Open PR here implementing this: https://github.com/ruby/ruby/pull/6767

[2022-11-28 21:11] maximecb commented on #463
I'm glad you've identified the source of the biggest leak. Trying to understand the fix. I can see how it's tricky 😅

I think we had assumed at the time that a future code GC would be able to come and free those blocks safely (left as homework for future us). Could that be a potential fix? Only free branch objects when the code GC decides that it's safe to free the containing blocks?

[2022-11-28 21:19] k0kubun commented on #463
I'm also trying to understand the fix now 🙂

Is it possible to rewrite the code for branch_stub_hit's argument on invalidation so that the branch_stub_hit call will be safe?

Or is it too late if it's already freed there? If so, I guess we'd need to conditionally decrement the counter by somehow detecting that case?

[2022-11-28 23:11] XrXr commented on #463
That should be enough to make the script I included work, which is probably the highest risk case considering how ractors are not very popular. I think we'd need to also do the patching when the stub is hit normally since there could still be code on the stack returning to the call to branch_stub_hit. Basically we'd need to patch the code for the call in all situation where we lose access to the p

[2022-11-29 16:56] maximecb opened #464 "YJIT: run our own Mastodon instance and federate it"
In the last YJIT team meeting, @jimmyhmiller suggested that we could potentially run our own Mastodon instance and federate it to get traffic. I quite like this idea because Mastodon is a large open source rails app, with real-world relevance. The best part though is that, as Jimmy pointed out, we could instrument this as much as we want without worrying about disrupting production.

There is curr

[2022-11-29 17:00] maximecb commented on #463
Seems fairly ok to wait until code GC to collect this data. This solution has the benefit of being simple?

[2022-11-29 17:22] matthewford commented on #464
I know the truffle Ruby team are also keen to get a performance baseline

[2022-11-29 17:55] XrXr commented on #463
Yeah, it's certainly better than the current situation where we never free them. 😅
I'll try implementing it today.

[2022-11-29 20:11] maximecb opened #465 "YJIT: things to wrap up for Ruby 3.2"
This is a list of things to do and wrap up in time for the Ruby 3.2 release  🎁🎄
- [x] Fix memory leak bug https://github.com/Shopify/ruby/issues/463
- [x] Update default `--yjit-call-threshold` to 30 https://github.com/ruby/ruby/pull/6850
- [x] https://github.com/Shopify/ruby/issues/461
- [x] Complete https://github.com/Shopify/ruby/issues/446
- [x] Double-check message `ruby --yjit` prints when b

[2022-11-30 17:23] #463 closed, assigned to nobody

[2022-11-30 22:33] maximecb opened #466 "YJIT: reuse blocks for deferred compilation when possible"
We use the `defer_compilation()` mechanism in many places in YJIT to allow us to peek at run-time values and specialize code (run-time value promotion). However, this has a memory usage cost, as we must generate a stub, and we create a new block and context object each time.

In `railsbench`, about 31% of the blocks seem to come from deferred compilation:

[code]

I think that, since we are essent